

<h1>Q1. Who is the god?</h1>
<div class="asd">
<div class="ui grid posts">
    <app-article
    *ngFor="let article of articles"
    [article]="article">
    </app-article>
</div>

</div>
<h1>Q2. Who looks Best?</h1>
<div class="asd">
<div class="ui grid posts">
  <app-article
    *ngFor="let article of articles"
    [article]="article">
  </app-article>
</div>
</div>


<h1>Q3. Who loves Jeongyeon?</h1>
<div class="asd">
  <div class="ui grid posts">
  <app-article
    *ngFor="let article of articles"
    [article]="article">
  </app-article>
</div>
</div>

<h1>Q4. Who is the strongest?(well its obvious its the third guy)</h1>
<div class="asd">
  <div class="ui grid posts">
    <app-article
      *ngFor="let article of articles"
      [article]="article">
    </app-article>
  </div>
</div>

<h1>Q5. Who is the DotA2 Champion?</h1>
<div class="asd">
  <div class="ui grid posts">
    <app-article
      *ngFor="let article of articles"
      [article]="article">
    </app-article>
  </div>
</div>

<h1>Q6. Who needs a green card ;P?</h1>
<div class="asd">
  <div class="ui grid posts">
    <app-article
      *ngFor="let article of articles"
      [article]="article">
    </app-article>
  </div>
</div>
